.Home {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns:	16px 1fr 1fr 1fr
							1fr 1fr 1fr 1fr
							1fr 1fr 1fr 16px;
	grid-template-rows:	32px 1fr 1fr 1fr
						1fr 1fr 1fr 1fr
						1fr 1fr 1fr 32px;
	text-align: center;

	.Title {
		grid-column: 5 / span 4;
		grid-row: 2 / span 1;
		width: 100%; 
		background-color: rgba(19,19,19,0.8);
		border-radius: 9px;
		border: 3px rgba(252,252,252,0.6) solid;
		box-shadow: 0px 0px 12px rgba(19,19,19,0.8);
		color: white;
		backdrop-filter: blur(9px);
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			border: 3px rgba(252,222,32,0.9) solid;
			background-color: rgba(36,36,36,0.8);
			color: rgba(222,222,242,0.9);
		} // Title:hover

		&:active {
			border: 3px rgba(252,242,32,1) solid;
			color: rgba(252,252,252,1);
			background-color: rgba(36,36,36,0.75);
			backdrop-filter: blur(3px);
		} // Title:active


	} // Title

	.StatusImg {
		grid-column: 2 / span 2;
		grid-row: 9 / span 2;
		max-height: 200px;
		align-self: flex-end;

		img {
			height: 100%;
			max-height: 200px;
		} // img

	} // StatusImg

	.Status {
		grid-column: 2 / span 2;
		grid-row: 11 / span 1;
		background-color: orange;
		border: 1px black solid;
		max-width: 200px;
		margin: 0px auto;
	
	} // Status

	.Construction {
		grid-column: 7 / span 6;
		grid-row: 7 / span 5;

		img {
			max-height: 100%;
			max-width: 100%;

		} // img


	} // Construction

	@include respond-to('medium') {

		.Title {
			grid-column: 2 / span 10;
			grid-row: 2 / span 1;

		} // Title

	} // media query - medium

	@include respond-to('small') {

		.StatusImg {
			display: none;

		} // StatusImg

		.Status {
			grid-column: 2 / span 10;
			grid-row: 4 / span 1;
			
		} // Status

		.Construction {
			grid-column: 2 / span 10;
			grid-row: 8 / span 5;

		} // Construction

	} // media query - small

	@include respond-to('xsmall') {
		.Title{
			grid-column: 1 / span 12;
			
		} // Title

		.StatusImg {
			grid-column: 1 / span 12;

		} // StatusImg

		.Status {
			grid-column: 1 / span 12;

		}  // Status

		.Construction {
			grid-column: 1 / span 12;

		} // Construction

	} // media query - xsmall

} // Home